		.jw-logo{
			margin:0!important;
			opacity: .5!important;
		}
			.jw-captions {
				background-: rgba(0,0,0,0.4)!important;
				color: red!important;
			}
			.jw-text-track {

			}
			.jw-text-track-display {
				top:;
				bottom:;
			}
			.jwplayer.jw-skin-chans .jw-text-track-cue {
				background: rgba(0,0,0,0)!important;
				font-family: impact!important;
    			text-shadow: 1px 1px 2px #000!important;
    			color: #f1f1f1!important;
    			font-weight: normal!important;
			}
